* {
    
    box-sizing: border-box;
}

body {
    
    margin: 0;
    padding: 0;
    
}
.form1 {
    
    max-width: 500px;
    position: relative;
    margin-left: -100px;
    overflow: hidden
}


.signup-form {
    margin: auto;
    max-width: 500px;
    padding: 20px 20px 20px 20px;
    float:right;
    display: block;
}

.signup-form input {
    
    border: 1px, solid, #ddd;
    border-radius: 10%;
}

.signup-form label {
    
    display:block;
    float: left;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
}

.form2 {
    
    max-width: 500px;
    position: relative;
    margin-left: 60px;
}
.comp-form {
    margin:auto;
    padding: 10px;
    float:center;
    display: block;
}

.comp-form input {
    border: 1px, solid, #ddd;
    border-radius: 10%;
    float: left;
    
}

#state input {
    max-width: 10px;
}